'.platform-darwin atom-text-editor:not([mini])':
	'cmd-o': 'open-path:open'
	'alt-c': 'open-path:copy-image-size'

'.platform-win32 atom-text-editor:not([mini])':
	'ctrl-o': 'open-path:open'
	'alt-c': 'open-path:copy-image-size'

'.platform-linux atom-text-editor:not([mini])':
	'ctrl-o': 'open-path:open'
	'alt-c': 'open-path:copy-image-size'
